* {
    margin: 0;
    padding: 0;
}

/* Global fonts */
main,
header {
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Styles here */
.header {
    width: 100%;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
}

.container {
    max-width: 1140px;
    margin: 0px auto;

}

.header-title,
.header-desc,
.btn {
    text-align: right;
}

.header-title h2 {
    color: #151414;
    font-size: 60px;
    font-weight: 700;
}

.header-desc {
    color: #444343;
    font-size: 16px;
    margin: 25px 0px;
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 30px;
    border: 0;
    color: #fff;
}

/* Failure Section Styles here */
.failures {
    margin: 100px 0px;
}

.fail-image img {
    width: 75%;
}

.inner-container-failure {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fail-desc h2 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.fail-desc p {
    color: #444343;
    font-size: 16px;
    margin: 25px 0px;
}

.fail-desc ul {
    list-style: none;
}

.fail-desc ul li {
    color: #444343;
    font-size: 16px;
    margin-bottom: 5px;
}

.fail-desc ul li i {
    color: #16D887;
    margin-right: 8px;
}

/* Plan Styles Here */
.plan-heading {
    padding: 100px 0px;
}

.plan-heading h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.plan-details {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.plan-items h3 {
    color: #151414;
    font-size:25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.plan-items p{
    
}