* {
    margin: 0;
    padding: 0;
}

/* Global fonts */
main,
header, footer {
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Styles here */
.header {
    width: 100%;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 130px 0px;
}

.container {
    max-width: 1140px;
    margin: 0px auto;

}

.header-title,
.header-desc,
.btn {
    text-align: right;
}

.header-title h2 {
    color: #151414;
    font-size: 50px;
    font-weight: 700;
}

.header-desc {
    color: #444343;
    font-size: 16px;
    margin: 30px 0px;
}

.btn-primary {
    border-radius: 5px;
    background-color: #F15B22;
    padding: 15px 28px;
    border: 0;
    color: #fff;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: black;
}

/* Failure Section Styles here */
.failures {
    margin: 100px 0px;
}

.fail-image img {
    width: 70%;
}

.inner-container-failure {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fail-desc h2 {
    color: #151414;
    font-size: 35px;
    font-weight: 700;
}

.fail-desc p {
    color: #444343;
    font-size: 16px;
    margin: 25px 0px;
}

.fail-desc ul {
    list-style: none;
}

.fail-desc ul li {
    color: #444343;
    font-size: 16px;
    margin-bottom: 5px;
}

.fail-desc ul li i {
    color: #16D887;
    margin-right: 8px;
}

/* Plan Styles Here */
.plan {
    padding: 60px 0px;
}

.plan-heading h2 {
    text-align: center;
    margin-bottom: 65px;
    color: #151414;
    font-size: 34px;
    font-weight: 700;
}

.plan-details {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* .plan-items img{
    width: 30%;
} */
.plan-items h3 {
    color: #151414;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.plan-items p {
    color: #737272;
    font-size: 16px;
}

/* call section styles here */
.call {
    padding: 60px 0px;
}

.call-details {
    background-image: url('../images/gradient3.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    padding: 50px 50px;
    background-position: center;
}

.call-details h3 {
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-secondary {
    border-radius: 5px;
    background-color: #fff;
    padding: 12px 30px;
    border: 0;
    color: #F15B22;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

/* footer styles here */
footer {
    background-color: #151414;
    padding: 60px 0px;
}

.foot-elements {
    display: flex;
    justify-content: space-between;
}

.footer-left h3 {
    color: #F8F8F8;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-left p {
    color: #F8F8F8;
    font-size: 10px;
    margin-bottom: 15px;
}

.footer-left i {
    color: #F15B22;
    font-size: 20px;
    margin-right: 15px;
}
.foot-right h6{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.c-input {
    display: block;
    padding: 15px 30px;
    background: transparent;
}
input{
    color:#F3F3F3;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
}